
body {
	background-color: #022a4e!important;
}

.container {
	margin: 5%;
	font-style: italic;
	font-family: serif;
	font-size: 30px;
}

.headText {
	text-align: center;
}

.ul {
	text-align: left;
}

h2 {
	text-align: center;
	font-weight: bold !important; 
}

.gallery {
	text-align: center;
}

.gallery img{
	margin: 15px;
}
