<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ACQAURIUMDB</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body>


	<div th:replace="fragments/navbar :: navbar">...</div>


	<div id="homeCarousel" class="carousel slide" data-ride="carousel">

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/img/home-top.jpg}" />
				<div class="carousel-caption"></div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/img/home-top-1.jpg}" />
				<div class="carousel-caption"></div>
			</div>


			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#homeCarousel"
				data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#homeCarousel"
				data-slide="next"> <span class="carousel-control-next-icon"></span>
			</a>

		</div>

	</div>

	<section id="leftSection1">
		<a th:href="@{/fishes}"><img src="img/search.png"
			class="float-left" height="70px" id="searchIcon"></a>
		<h2>Consulta il DB</h2>
		<p>Troverai informazioni sulle tue specie preferite, e su quelle
			che lo diventeranno!</p>
	</section>



	<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/img/fishes.png}" />
			</div>
			<div class="carousel-item">
				<img th:src="@{/img/fishes2.png}" />
			</div>
			<div class="carousel-item">
				<img th:src="@{/img/fishes3.jpg}" />
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#fishCarousel"
				data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#fishCarousel"
				data-slide="next"> <span class="carousel-control-next-icon"></span>
			</a>

		</div>

	</div>

<!-- 	<section id="rightSection"> -->
<!-- 		<h2>Ispirati alla natura</h2> -->
<!-- 		<p>Ricrea nel tuo acquario un angolo di un biotopo naturale.</p> -->
<!-- 		<div id="imgContainer"></div> -->
<!-- 	</section> -->
</body>

</html>