<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ACQAURIUMDB</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<!--       <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" /> -->
<!--       <script th:src="@{/js/bootstrap.min.js}"></script> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<!--       <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/> -->
</head>
<body>
	<!--       <h1>Welcome</h1> -->
	<!--       <h2 th:utext="${message}">..!..</h2> -->

	<!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->

	<!--       <a th:href="@{/personList}">Person List</a>   -->

	<div th:replace="fragments/navbar :: navbar">...</div>

	<div id="homeCarousel" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#homeCarousel" data-slide-to="1"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/img/home-top.jpg}" />
				<div class="carousel-caption">
					<h3>ACQUARIUMDB</h3>
					<p>Dai sfogo alle tue velleità acquariofile!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/img/home-top-1.jpg}" />
			</div>


			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#homeCarousel"
				data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#homeCarousel"
				data-slide="next"> <span class="carousel-control-next-icon"></span>
			</a>

		</div>

	</div>

	<section id="leftSection1">
		<a th:href="@{/search}"><h2>Consulta il DB</h2></a>
		<p>Troverai informazioni sulle tue specie preferite, e su quelle
			che lo diventeranno!</p>
	</section>

	<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#fishCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#fishCarousel" data-slide-to="1"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/img/fishes.png}" />
			</div>
			<div class="carousel-item">
				<img th:src="@{/img/fishes2.png}" />
			</div>


			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#fishCarousel"
				data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#fishCarousel"
				data-slide="next"> <span class="carousel-control-next-icon"></span>
			</a>

		</div>

	</div>

	<section id="rightSection">
		<h2>Ispirati alla natura</h2>
		<p>Ricrea nel tuo acquario un angolo di un biotopo naturale.</p>
		<div id="imgContainer"></div>
	</section>
</body>

</html>