<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ACQAURIUMDB</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

	<div th:replace="fragments/navbar :: navbar">...</div>

	<br>

	<br>
	<div id="mediaList">
		<th:block th:each="fish : ${fishes}">
		
			<!-- 	<td th:text="${fish.name}"></td> -->
			<!--     <td th:text="${fish.family.name}"></td> -->
			<div th:id="'media-' + ${fish.id}" class="media">
			<input type="text" th:value="${fish.id}" hidden="true"/>
				<img src="..." height="150" width="150"/>
				<div class="media-body">
					<h5 class="mt-0" th:utext="${fish.name}"></h5>
					<p th:utext="${fish.family.name}"></p>
				</div>
			</div>
			<br>
			<br>
		</th:block>
	</div>
	

	<script type="text/javascript" src="js/search.js"></script>


</body>
</html>